<!DOCTYPE html>

<!-- author: Jim Han (179381215) -->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Assignment by Jim Han</title>

    <style>
        header {
            margin-top: 2vh;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
        }

        img {
            height: 360px;
            width: 360px;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
        }

        button {
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
            color: white;
            background-color: rgb(1, 162, 1);
        }

        .clsSelection {
            border: none;
            color: #000000;
            height: 50vh;
            left: 100px;
            margin: 0;
            position: absolute;
            text-align: left;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            font-size:large;
            top: 10vh;
            width: 15%;
        }

        #imgSelect{
            background-color: rgb(158, 154, 154);
            font-weight: bold;
        }

        .clsImageName {
            border: none;
            height: 6vh;
            width: 65vh;
            left: 0;
            right: 0;
            margin: 2em auto;
            padding: 1vh;
            position: absolute;
            text-align: center;
            top: 72vh;
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
        }

        .clsLogout {
            position: absolute;
            top: 10vh;
            right: 20vh;
            text-align: left;
            width: 200px;
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            font-weight: bold;
        }

        #divUsername{
            color: rgb(88, 129, 204);
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            transition: opacity 1s ease-out;
        }

        #divLogout{
            left: 0;
            position: absolute;
            top: 0;
        }

        #aLogout{
            color: rgb(67, 204, 67);
            opacity: 0;
            text-decoration: underline;
            transition: opacity 1s ease-in;
        }

        .clsLogout:hover #divUsername{
            opacity: 0;
        }

        .clsLogout:hover #aLogout{
            opacity: 1;
        }
    </style>
</head>

<body>
    <form method="post" action="/gallery">
        {{>header}}

        <div class="clsSelection">
            <label for="imgSelect">Select A Poster</label>
            <select id="imgSelect" name="imgSelect">
                <option value=""></option>
                {{#each image}}
                <option value="{{.}}" >{{.}}</option>
                {{/each}}
            </select>
            <br/>
            <button type="submit" value="submit">Submit</button>
        </div>
    </form>

    <div class="clsContent">
        {{#if selected}}
        <img src="/images/{{selected}}.jpg" alt="No Image" onclick="redirectToPurchase('{{selected}}')"/>
        {{else}}
        <img src="/images/home.jpg" alt="No Image" />
        {{/if}}
    </div>

    <div class="clsImageName">
        {{#if selected}}
        {{selected}}
        {{else}}
        Home
        {{/if}}
    </div>

    <div class="clsLogout">
        <div id="divUsername">{{username}}</div>
        <div id="divLogout"><a id="aLogout" href="/logout">Logout</a></div>
    </div>

    <script>
        function redirectToPurchase(selected){
            window.location.href = '/purchase?selected=' + selected;
        }
    </script>
</body>

</html>